/* Papier theme for gnome-shell */

/* Stage */

stage {
    color: #dbdee0;
    transition-duration: 300ms;
}

/* Panel */
#panel {
    background-color: #2196F3;
    color: #FFF;
    font-size: 12pt;
    text-shadow: none;
    transition-duration: 300ms;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

#panel .panel-button {
    color: #FFF;
    font-weight: bold;
}

/* Popup Menus */
.popup-menu {
    color: #FFF;
    background-color: #43A047;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    border-radius: 2px;
    min-width: 200px;
    font-size: 12pt;
}

.popup-menu-boxpointer {
    -arrow-background-color: transparent;
    -arrow-border-width: 0px;
}

.popup-menu-content {
    padding-top: 5px;
    padding-bottom: 15px;
}

/* Calendar */

    /* Notifications */